<div class="jumbotron p-4 bg-white rounded">
    <h1>Welcome to the Hardware Store</h1>
    <p class="lead">Gear that makes you ahead, and more.</p>
</div>

<h4 class="mt-4">Categories</h4>
<div class="row">
    @for (c of categories; track $index) {
    <div class="col-3">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{c.name}}</h5>
                <a class="stretched-link" [routerLink]="['/categories', c.id]"></a>
            </div>
        </div>
    </div>
    }
</div>